@font-face {
    font-family: quicksand-bold;
    src: url(./fonts/Quicksand-Bold.ttf);
}
@font-face {
    font-family: quicksand-medium;
    src: url(./fonts/Quicksand-Medium.ttf);
}

body{
    margin: 0;
    padding: 0;
    --bg-p:#F4F6FF;
    --bg-s:#006769;
    --yellow:#F3C623;
}
.container{
    font-family: quicksand-medium;
    background: var(--bg-p);
    height: 100vh;
    display: grid;
    grid-template: 1fr 4fr / minmax(200px, 1fr) minmax(500px, 3fr);
}

.logo-container, .menu-item{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

/* HEADER */
.header{
   grid-column: 2/3;
}

.logo-container{
    /* justify-content: center; */
    font-size: 2rem;
    padding: 20px;
}

.logo{
    filter: invert(1);
    width: 15%;
}

/* SIDEBAR */
.sidebar{
    grid-column: 1;
    grid-row: 1/4;
    padding: 12px;
    background: var(--bg-s);
    color: white;
    font-family: quicksand-bold;
}
.menu1,.menu2{
    display:flex;
    flex-direction: column;
    gap:15px;
    padding: 20px;
}
.menu-item img
{
    filter: invert(1);
    width: 22px;
}

/* ARTICLE */
.article{
    grid-column: 2;
    grid-row: 2/4;
    background-color: var(--yellow);
}