@font-face {
    font-family: quicksand-bold;
    src: url(./fonts/Quicksand-Bold.ttf);
}
@font-face {
    font-family: quicksand-medium;
    src: url(./fonts/Quicksand-Medium.ttf);
}

body{
    margin: 0;
    padding: 0;
    --bg-p:#F4F6FF;
    --bg-s:#006769;
    --lightgreen:#40A578;
    --yellow:#F3C623;
    --width-logo:34px;
    --small-ico:22px;
    --big-ico:28px;
    --std-gap:12px;
}
.container{
    font-family: quicksand-medium;
    background: var(--bg-p);
    display: grid;
    grid-template: 1fr 4fr / minmax(200px, 1fr) minmax(500px, 4fr);
}

.logo-container, .menu-item, .search-bar, .user, .notification, .user-bubble, .nav,.trending-items{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 15px;
}
.header,.sidebar,.article{
    padding: 15px;
}

/* HEADER */
.header{
   grid-column: 2/3;
   resize: both;
   display: grid;
   background: white;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   box-shadow: 0px 0px 6px -1px gray;
}
.section-1, .section-2{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap:35px;
   padding: var(--std-gap);
}
.section-1 .search-bar img{
    width: var(--small-ico);
}
.section-1 .search-bar input{
    border: none;
    width: 85%;
    font-size: medium;
    border-radius: 10px;
    padding: 5px 8px;
    background-color: var(--yellow);
    font-family: quicksand-medium;
}
.section-1 .user img{
    width: 70px;
}
.section-1 .title{
    position: absolute;
    font-size: small;
}
.section-1 .greeting,.section-2 .user-bubble, .section-2 button{
    font-family: quicksand-bold;
}

.section-2 .notification{
    justify-content: center;
}
.section-2 .user-bubble img, .treding-avatar{
    width: 48px;
}
.section-2 .nav{
    justify-content: center;
    padding-bottom: var(--std-gap);
    gap: 30px;
}
.section-2 button{
    background: var(--bg-s);
    color: var(--bg-p);
    border: none;
    width: 100px;
    padding: 10px 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}
.section-2 button:hover{
    transform: translateY(-3px);
}

/* SIDEBAR */
.logo-container{
    font-size: 2rem;
    padding: 20px;
}

.logo{
    filter: invert(1);
    width: var(--width-logo);
}

.sidebar{
    grid-column: 1;
    grid-row: 1/4;
    background: var(--bg-s);
    color: white;
    font-family: quicksand-bold;
}
.menu1,.menu2{
    display:flex;
    flex-direction: column;
    gap:20px;
    padding: 20px;
}
.menu-item img
{
    filter: invert(1);
    width: var(--small-ico);
}

/* ARTICLE */
.article{
    margin-top: var(--std-gap);
    grid-column: 2;
    grid-row: 2/4;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--std-gap); 
}
.article .section-title{
    font-weight: bold;
    font-size: 1.2rem;
}

.project-content{
    display:grid;
    margin-top: 12px;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: var(--std-gap); 
}
.card{
    background: white;
    padding: var(--std-gap);
    border-radius: 8px;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}
.card, .article-box{
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px
}
.card-title, .an-title, .author{
    font-weight: bold;
    align-self: end;
}
.card-title{
    color: var(--bg-s);
}
.card-content{
    font-size: .9em;
    margin-top: 8px;
}
.card-btn {
    justify-self: end;
}
.card-btn img{
    padding: 0 8px ;
}
.article-section-2{
    display: flex;
    flex-direction: column;
    gap: var(--std-gap);
}
.trending{
    margin-top: var(--std-gap);
}
.article-box{
    background: white;
    border-radius: 8px;
    padding: 30px;
}

.an-title,.article-box p{
    font-size: small;
}

.article-box p, .treding-message p {
    margin: 0;
    padding: 5px 0;
    color: var(--lightgreen);
}
.treding-message{
    padding:var(--std-gap);
}

@media (max-width:800px) {
    .article{
        grid-template-columns: 1fr;
    }
}